<a href="https://colab.research.google.com/github/PlayTrain99/data-sciences/blob/main/Pandas/Pandas_first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
pd.__version__

'2.2.2'

# Podstawowa struktura pandas itp

In [3]:
s = pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64