<a href="https://colab.research.google.com/github/PlayTrain99/data-sciences/blob/main/Pandas/Pandas_first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
pd.__version__

'2.2.2'

# Podstawowa struktura pandas itp

In [ ]:
s = pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [5]:
s = pd.Series(data=[3,2,4,6], index = ["a","b","c","d"], name = "sampel")
s

a    3
b    2
c    4
d    6
Name: sampel, dtype: int64

In [6]:
s = pd.Series(data=[3.0,2,4,6], index = ["a","b","c","d"], name = "sampel")
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sampel, dtype: float64

In [8]:
import numpy as np

s = pd.Series(data=[3.0, np.nan , 4, 6], index = ["a","b","c","d"], name = "sampel")
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sampel, dtype: float64

In [15]:
s = pd.Series(data = np.arange(10, 20), index=pd.date_range(start="20200101", periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64